:host([disabled]) {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
  user-select: none
}

:host([hidden]) { display: none !important }

.background {
  fill: var(--bg-color, #ffffff);
  stroke: var(--border-color, #eeeeee)
}