:host([disabled]) {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
  user-select: none
}

:host([hidden]) { display: none !important }

.background {
  fill: var(--bg-color, #ffffff);
  stroke: var(--border-color, #eeeeee)
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms
}

.visible {
  opacity: 1;
  pointer-events: all;
  transition: opacity 500ms
}

.small-text { font-size: 0.75rem }

.center-text { text-anchor: middle }
.left-text { text-anchor: start }
.right-text { text-anchor: end }